
#bloc_filtre
{
    display: flex;
    flex-direction: row;
}

#bloc_filtre p
{
    display: flex;
    align-items: center;
}

#boutton
{
    display:flex;
    align-items: center;
}

#filtre
{
    display: flex;
    flex-direction: row;
}

#boutton i
{
    padding: 10px;
    border: solid 2px black;
    border-radius: 20px;
    height: 16px;
    width: 16px;
    text-align: center;
    position: relative;
    

}

#boutton p
{

    border: solid 2px black;
    padding: 9px;
    border-radius: 20px;
    padding-left: 40px;
    
    
    
}