@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: "raleway";
    src : url("polices/raleway-variablefont_wght-webfont.woff2") format("woff2"),
           url("polices/raleway-variablefont_wght-webfont.woff") format("woff");
}

html
{
    font-family: raleway;
}

main
{
    width: 90%;
    min-width: 300px;
	margin: auto;

    
}

* 
{
    box-sizing: border-box;
    /* box-sizing est appliqué à tous les éléments */
}

/*Mise en page principale de body*/

body
{   
    padding:0;
    margin: 0;  
}

/*en-tete constitué du logo et des bouttons hébergement et activité*/

header
{
    display : flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    min-width: 200px;
	margin: auto;
}

/*taille du logo*/

header img 
{
    height: 65px; 
}

h1
{
    font-size:x-large;
}

/*en haut a droite activité + hebergement*/

#menu
{
    display : flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.2em;
    list-style-type:none;
    padding:0;
    margin: 0;  
}

#menu li
{
   border-top: 2px #ffffff solid;
    /*pour ne pas avoir un effet ou le texte bouge lors du survole*/   
    text-align: center;
    padding:30px;
}

/*Survol du menu*/

#menu li:hover
{
    border-top: solid #0065FC 2px;
}


#menu li a
{
    padding :30px;   
}

/*Barre de recherche*/

#recherche
{
    display : flex;
    justify-content: flex-start;
    align-items: center;
    /*border : 2px solid #F2F2F2;*/
    border-radius: 15px; 
}

/*Boutton de recherche*/

#recherche p 
{
    display: flex;
    justify-content: center;
    align-items: center;
    position : relative;
    border : 5px solid #0065FC;
    background-color: #0065FC;
    height: 50px;
    width: 155px; /*ou avec du padding !*/
    color: white;
    font-weight: bold;
    border-radius: 15px;
    /*object-fit: cover;*/
    z-index: 1;
    right : 20px;
}

/*Logo position*/

i[class="fa-solid fa-location-dot"]
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
    border : 5px solid #F2F2F2;
    height: 50px;
    width: 60px;
    background-color: #F2F2F2;
    border-radius: 15px;
    z-index: 2;
}

/*Logo recherche (mode smartphone)*/

i[class="fa-solid fa-magnifying-glass"]
{
    display: flex;
    display: none;
    z-index: 1;
    position : relative;
    right : 300px;
}

/*Champ de recherche*/

input
{
	height: 50px;
    width: 220px;
    z-index: 3;
    position : relative;
    right : 10px;
    border : 2px solid #F2F2F2;
    font-size: medium;
    font-weight: bold;
    color:grey;
}

/*------------- */
/*Partie Filtre */
/*------------- */

/*Titre + boutton*/

#bloc_filtre
{
    display: flex;
    flex-direction: row;
}

/*texte dans le boutton*/

#bloc_filtre p
{
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.2em;
}

/*ensemble logo + texte*/

.boutton
{
    display:flex;
    align-items: center;
}

/*ensemble des bouttons*/

#filtre
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/*logo du boutton*/

.boutton i
{   
    padding : 12px;
    border-radius: 25px;
    height: 43px;
    width: 43px;
    text-align: center;
    color :#0065FC;
    background-color: #DEEBFF;
    position: relative;
    right: -40px;
    align-content:flex-end;   
}

/*position + deco texte boutton*/

.boutton p
{
    border: solid 2px #F2F2F2;
    padding: 9px;
    border-radius: 20px;
    padding-left: 40px;   
}

/*Survol du filtre*/

.boutton p:hover
{
    background-color: #0065FC;
    color: white;
}

/*petit texte en dessous du filtre*/

#under_filtre
{
    display: flex;
    flex-direction: row;
    align-items: center;    
}

/*Logo info*/

i[class="fa-solid fa-info"]
{
    display: flex;
    justify-content: center;
    align-items: center;
    border: #F2F2F2 solid 2px;
    height: 30px;
    width: 30px;
    border-radius: 20px;
    margin-right: 15px;
    color: #0065FC;
}

a:link /*on enleve le soulignement des liens */
{ 
    text-decoration:none; 
} 

a /*on enleve la couleur des liens*/
{
    color : black;
}

em /*Prix en gras*/
{
    font-weight: bold;
    font-style: normal;
}

/*------------------------*/
/*Hebergement + Populaire */
/*------------------------*/

/*Hebergement + Populaire */

#partie_supp
{
    display:flex;
    justify-content: space-between; 
}

/*Hebergement */

#hebergement
{
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    padding : 3%;
    width: 85%;
    /*min-width: 375px;*/
    border-radius: 20px;
}

#hebergement a
{
    width: 30%;
}

/*Contient toutes les vignettes*/

#hebergement #ensemble_vign
{
    display : flex;
    flex-direction: row;
    justify-content: space-between;

}

/*Une vignettes*/

.card
{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;  
    padding : 5px;
    margin-top : 5px;
    margin-bottom : 20px;
    transition: transform .1s; 
    /*transition : mise en place du zoom sur la carte lors du survole*/
    
}

/*Zoom au survole*/

a .card:hover 
{
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
}

/*image dans la vignette*/

#hebergement img
{
    
    width: 100%;/*4*/
    height: 130px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
    
}

/* Populaire */

#populaire a
{
    width: 30%;
}

#populaire
{
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding : 3%;
    margin-left: 2%;
}



#populaire .titre
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/*étoile noire a coté de populaire*/

#populaire .titre i[class="fa-solid fa-star"]
{
    font-size: x-large;
}

/*corps de la vignette*/

.card_body
{
    margin-left: 15px;
}

/*Décalage des etoiles pour la partie populaire*/

#populaire .card_stars i
{
    margin-top: 15%;
}

/*image dans la vignette*/

#populaire img
{
    /*max-width: 170px;
    max-height: 175px;
    height: 175px;
    width: 170px;*/
    height: 175px;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    object-fit: cover;
}

#populaire .card
{
    display : flex;
    flex-direction: row;
}

#populaire .card_body
{
    width: 60%;
}

#populaire .card_img
{
    width: 40%;
}

.card_stars
{
    color : #0065FC;
}




#activite
{
    display : flex;
    flex-direction: column;
    margin-bottom: 30px;
}

#activite h3
{
    padding-left:10px;
}

#ensemble_card
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: auto;
    object-fit: cover;
}



#activite img
{
    /*width: 350px;
    height: 400px;*/
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width : 100%;
}

#short_card1, #short_card2, #short_card3, #short_card4, #short_card5, #short_card6
{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 5px 5px 2px #F2F2F2, -5px 5px 2px #F2F2F2;
    padding-bottom : 5px;   
    transition: transform .1s;  
    margin-bottom: 25px;
}

a #short_card1:hover ,a #short_card2:hover ,a #short_card3:hover ,a #short_card4:hover ,a #short_card5:hover ,a #short_card6:hover 
{
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
    transform: scale(1.05);
}

#un
{
    width: 20%;
    object-fit: cover;
}

#deux
{
    width: 20%;
}

#trois
{
    width: 20%;
}

#quatre
{
    width: 20%;
}



#short_card1 img 
{
    height: 460px;
}

#short_card2 img
{
    height: 210px;

}

#short_card3 img
{
    height: 140px;

}

#short_card4 img
{
    height: 460px;

}

#short_card5 img
{
    height: 160px;

}

#short_card6 img
{
    height: 160px;

}



#deux
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



#quatre
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer
{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #F2F2F2;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
}

footer div
{
    margin-right: 15%;
}

/*
#nos_hebergements
{
    margin-right: 15%;
}
/*bleu (#0065FC), 
une version plus claire de ce bleu (#DEEBFF) 
gris pour le fond (#F2F2F2).*/