#html
{
    min-width: 950px;
}
#partie_supp
{
    flex-direction:column-reverse;
}

#hebergement
{
    width: 100%;
    margin-bottom: 30px;
}

#populaire
{
    margin-left: 0;
}

#ensemble_vign
{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

#populaire .card
{
    display: flex;
    flex-direction: column;
    background-color: white;
}

#populaire .card_body
{
    width: unset;
}

#populaire .card_img
{
    width: unset;
}

#populaire img
{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: none;
    border-bottom-left-radius: 0;
    border-top-right-radius: 20px;
}

#short_card1, #short_card2, #short_card3, #short_card4, #short_card5, #short_card6
{
    margin-bottom: 20px;
}

#activite img
{
    /*width: 350px;*/
    height: 140px;
}

#activite #ensemble_card
{
    justify-content: center;
    flex-wrap: wrap;
}

#un, #deux, #trois, #quatre
{
    width: 100%;
}
